<div id="imgIzq">
        
        <img src="img/logo.jpg" style="margin-left:17px; "/>
        <img src="img/o.png" style="margin-left:20px; margin-top:95%;"/>
       
	
    </div>

<div id="content" style="left:300px; background-image:url(img/cuadros/amarillo.png); padding:10px; width:400px;">
          <h1 style=" color:black; ">Administraci&oacute;n</h1>

            <p><%= link_to "Estudiantes Registrados", estudiantes_path, :style => "color:black"   %></p>
            <p><%= link_to "Profesionales Registrados", generals_path, :style => "color:black"   %></p>
            <p><%= link_to "Empresas Donadoras", empresas_path, :style => "color:black"   %></p>
            <br />

			<p><%= link_to "Salir del Administrador", logout_path, :style => "color:black"   %></p>
            
           
</div>